﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <ul class="nav navbar-nav navbar-right">
                <li style="font-family : sans-serif ; font-size : large">
                    @if (@ViewBag.Email != "")
                    {
                        <h3>Welcome @ViewBag.Email</h3>
                        <a href="/User/SignOut" class="btn btn-primary" style="text-decoration-color:aliceblue">LogOut</a>
                    }
                    else
                    {
                        <h3>Welcome User</h3>
                        <a href="/User/SignIn" class="btn btn-primary" style="text-decoration-color:aliceblue">Login</a>
                    }
                </li>
            </ul>
        </div>
    </nav>


    <br />

    <div style="display:flex; flex-direction:row">

        <div>
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation"><a href="#">Attendance Summary</a></li>
                <li role="presentation"><a href="#">View Profile</a></li>
                <li role="presentation"><a href="#">Public Holidays</a></li>
                <li role="presentation"><a href="#">Manual Punch Entries</a></li>
                <li role="presentation"><a href="#">Monthly Attendance</a></li>
                <li role="presentation"><a href="#">Change Password</a></li>
                <li role="presentation" class="active">

                </li>
            </ul>
        </div>

        <br />
        <div style="display:flex; margin-left:150px">@RenderBody()</div>
        <br />
    </div>
    <br />

    <div class="alert alert-info text-center">
        copyright sunbeaminfo.com
    </div>

    <br />
</body>
</html>









