﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <a href="/Home/Create" style="margin-left:20px; margin-top:20px" class="btn btn-primary">Create New Record </a>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>No</th><th>Name</th><th>Address</th>
                </tr>
            </thead>
            <tbody>
               @foreach(var emp in Model){
                     <tr>
                        <td>@emp.No</td>
                        <td>@emp.Name</td>
                        <td>@emp.Address</td>
                        <td><a href="/Home/Edit/@emp.No?FName=@emp.Name&ECity=@emp.Address" class="btn btn-warning">Edit</a></td>
                        <td><a href="/Home/Delete/@emp.No" class="btn btn-danger">Delete</a></td>
                    </tr>
               }
            </tbody>
        </table>
    </div>
    
</body>
</html>
