﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

    <form action="/Dept/AfterUpdate" method="POST" class="form-inline" role="form">

        <br />
        <br />
        <br />
        <br />
        <br />

        <center>
            <div class="form-group">
                <span>No</span>
                
                @Html.TextBox("DeptNo")

            </div>

            <div class="form-group">
                <span>Name</span>
               
                @Html.TextBox("DeptName")
            </div>

            <div class="form-group">
                <span>Address</span>
               
                @Html.TextBox("Location")
            </div>



            <button type="submit" class="btn btn-primary">Update</button>
        </center>
    </form>

</body>
</html>



