﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create New Record</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

    <form action="/Home/Create" method="POST" class="form-inline" role="form">

        <br />
        <br />
        <br />
        <br />
        <br />

        <center>
            <div class="form-group">
                <span>No</span>
                <input type="text" class="form-control" id="No" name="No">
            </div>

            <div class="form-group">
                <span>Name</span>
                <input type="text" class="form-control" id="Name" name="Name">
            </div>

            <div class="form-group">
                <span>Address</span>
                <input type="text" class="form-control" id="Address" name="Address">
            </div>



            <button type="submit" class="btn btn-primary">Create Record</button>
        </center>
    </form>

</body>
</html>
