﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
      
      <form action="/Home/AfterEdit" method="POST" class="form-inline" role="form">

      <br/>
      <br/>
      <br/>
      <br/>
      <br/>

          <center>
            <div class="form-group">
               <span>No</span>
                @*<input type="text" class="form-control" id="No" name="No" value=@Model.No>*@
                @Html.TextBox("No")
             </div>

            <div class="form-group">
                <span>Name</span>
                @*<input type="text" class="form-control" id="Name" name="Name" value=@Model.Name>*@
                @Html.TextBox("Name")
            </div>

            <div class="form-group">
                <span>Address</span>
                @* <input type="text" class="form-control" id="Address" name="Address" value=@Model.Address> *@
                @Html.TextBox("Address")
            </div>
        
            <button type="submit" class="btn btn-primary">Update</button>
          </center>
      </form>
      
</body>
</html>
