﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateEmployee</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

    @*<form action="/Home/AfterCreate" method="POST" class="form-inline" role="form">*@
    <form action="/Employee/Create" method="POST" class="form-inline" role="form">

        <br />
        <br />
        <br />
        <br />
        <br />

        <center>
            <div class="form-group">
                <span>EmpNo</span>
                <input type="text" class="form-control" id="EmpNo" name="EmpNo">
            </div>

            <div class="form-group">
                <span>Name</span>
                <input type="text" class="form-control" id="Name" name="Name">
            </div>

            <div class="form-group">
                <span>Email</span>
                <input type="text" class="form-control" id="Email" name="Email">
            </div>

            <div class="form-group">
                <span>Passcode</span>
                <input type="text" class="form-control" id="Passcode" name="Passcode">
            </div>

            <div class="form-group">
                <span>Salary</span>
                <input type="text" class="form-control" id="Salary" name="Salary">
            </div>

            <div class="form-group">
                <span>commistion</span>
                <input type="text" class="form-control" id="commistion" name="commistion">
            </div>

            <div class="form-group">
                <span>Designation</span>
                <input type="text" class="form-control" id="Designation" name="Designation">
            </div>

            <div class="form-group">
                <span>HireDate</span>
                <input type="text" class="form-control" id="HireDate" name="HireDate">
            </div>

            <div class="form-group">
                <span>Mobileno</span>
                <input type="text" class="form-control" id="Mobileno" name="Mobileno">
            </div>

            <div class="form-group">
                <span>DeptNo</span>
                <input type="text" class="form-control" id="DeptNo" name="DeptNo">
            </div>

            <br />

            <button type="submit" class="btn btn-primary">Create Employee</button>
        </center>
    </form>
</body>
</html>
