﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListEmployee</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <a href="/Employee/Create" style="margin-left:20px; margin-top:20px" class="btn btn-primary">Create New Record </a>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>EmpNo</th>
                    <th>Name</th>
                    <th>Email</th>

                    <th>Passcode</th>
                    <th>Salary</th>
                    <th>Commision</th>

                    <th>Designation</th>
                    <th>HireDate</th>
                    <th>Mobileno</th>
                    <th>DeptNo</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                <tr>
                    <td>@employee.EmpNo</td>
                    <td>@employee.Name</td>
                    <td>@employee.Email</td>

                    <td>@employee.Passcode</td>
                    <td>@employee.Salary</td>
                    <td>@employee.Commision</td>
                    <td>@employee.Designation</td>
                    <td>@employee.HireDate</td>
                    <td>@employee.Mobileno</td>
                    <td>@employee.DeptNo</td>

                    <td><a href="/Employee/Update/@employee.EmpNo" class="btn btn-warning">Upadte</a></td>
                    <td><a href="/Employee/Delete/@employee.EmpNo" class="btn btn-danger">Delete</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
