﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

    <form action="/Employee/AfterUpdate" method="POST" class="form-inline" role="form">

        <br />
        <br />
        <br />
        <br />
        <br />

        <center>
            <div class="form-group">
                <span>No</span>

                @Html.TextBox("EmpNo")

            </div>

            <div class="form-group">
                <span>Name</span>

                @Html.TextBox("Name")
            </div>

            <div class="form-group">
                <span>Email</span>

                @Html.TextBox("Email")
            </div>

            <div class="form-group">
                <span>Passcode</span>

                @Html.TextBox("Passcode")
            </div>

            <div class="form-group">
                <span>Salary</span>

                @Html.TextBox("Salary")
            </div>

            <div class="form-group">
                <span>Commision</span>

                @Html.TextBox("Commision")
            </div>

            <div class="form-group">
                <span>Designation</span>

                @Html.TextBox("Designation")
            </div>

            <div class="form-group">
                <span>
                    Hiredate
                </span>

                @Html.TextBox("Hiredate")
            </div>

            <div class="form-group">
                <span>Mobileno</span>

                @Html.TextBox("Mobileno")
            </div>

            <div class="form-group">
                <span>DeptNo</span>

                @Html.TextBox("DeptNo")
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </center>
    </form>

</body>
</html>



