﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckMultipleModels</title>
</head>
<body>
    <form action="/TryOuts/CheckMultipleModels" method="post">
        <h1>@ViewData["myMessage"]</h1>
        <h2>Welcome @ViewBag.loggedInUser.UserName</h2>
        <h2>Password is  @ViewBag.loggedInUser.Password</h2>

        No<input type="text" name="No" value="@Model.No"> <br />
        Name<input type="text" name="Name" value="@Model.Name"><br />
        Address<input type="text" name="Address" value="@Model.Address"><br />

        UserName<input type="text" name="UserName" value="@Model.Name"><br />
        Password<input type="text" name="Password" value="@Model.Name"><br />
        <input type="submit" value="Submit">
    </form>
</body>
</html>
