﻿
@{
    ViewBag.Email = User.Identity.Name;
    ViewBag.Title = "Create Department";
    Layout = "~/Views/Shared/Master.cshtml";
}

@*<form action="/Home/AfterCreate" method="POST" class="form-inline" role="form">*@
<form action="/Dept/Create" method="POST" class="form-inline" role="form">

    <br />
    <br />
    <br />
    <br />
    <br />

    @*<center>
            <div class="form-group">
                <span>DeptNo</span>
                <input type="text" class="form-control" id="DeptNo" name="DeptNo">
            </div>

            <div class="form-group">
                <span>DeptName</span>
                <input type="text" class="form-control" id="DeptName" name="DeptName">
            </div>

            <div class="form-group">
                <span>Location</span>
                <input type="text" class="form-control" id="Location" name="Location">
            </div>

            <br />

            <button type="submit" class="btn btn-primary">Create Department</button>
        </center>*@

    <center>
        <div class="form-group">
            <span>DeptNo</span>
            @*<input type="text" class="form-control" id="DeptNo" name="DeptNo" value=@Model.DeptNo>*@
            @Html.TextBox("DeptNo")
        </div>

        <div class="form-group">
            <span>DeptName</span>
            @*<input type="text" class="form-control" id="DeptName" name="DeptName" value=@Model.DeptName>*@
            @Html.TextBox("DeptName")
        </div>

        <div class="form-group">
            <span>Location</span>
            @* <input type="text" class="form-control" id="Location" name="Location" value=@Model.Location> *@
            @Html.TextBox("Location")
        </div>

        <button type="submit" class="btn btn-primary">Create Department</button>

        <div class="alert alert-danger" id="errorDiv" style="display: none;">
            This number is already taken!
        </div>
    </center>
</form>


<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#DeptNo").change(function () {
            var noToSearch = parseInt($(this).val());

            $.ajax({
                url: "/Dept/IsNoTaken/" + noToSearch,
                type: "GET",
                contentType: "application/json",
                success: function (result) {
                    debugger;
                    if (result == true) //No is taken already
                    {
                        $("#errorDiv").css({ "display": "block" });
                    }
                    else               //No is available
                    {
                        $("#errorDiv").css({ "display": "none" });
                    }
                },
                error: function (result) {
                    debugger;
                    alert("Some thing is wrong!")
                }
            });

        });
    })
</script>

