﻿
@{
    ViewBag.Email = User.Identity.Name;
    ViewBag.Title = "List Of Departments";
    Layout = "~/Views/Shared/Master2.cshtml";
}

<a href="/Dept/Create" style="margin-left:20px; margin-top:20px" class="btn btn-primary">Create New Record </a>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>DeptNo</th>
                <th>DeptName</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in Model)
            {
                <tr>
                    <td>@department.DeptNo</td>
                    <td>@department.DeptName</td>
                    <td>@department.Location</td>
                    <td><a href="/Dept/Update/@department.DeptNo" class="btn btn-warning">Upadte</a></td>
                    <td><a href="/Dept/Delete/@department.DeptNo" class="btn btn-danger">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>

</div>
