﻿
@{
    ViewBag.Email = User.Identity.Name;
    ViewBag.Title = "Update Dept Record";
    Layout = "~/Views/Shared/Master.cshtml";
}
<form action="/Dept/AfterUpdate" method="POST" class="form-inline" role="form">

    <br />
    <br />
    <br />
    <br />
    <br />

    @*<center>
            <div class="form-group">
                <span>No</span>

                @Html.TextBox("DeptNo")

            </div>

            <div class="form-group">
                <span>Name</span>

                @Html.TextBox("DeptName")
            </div>

            <div class="form-group">
                <span>Address</span>

                @Html.TextBox("Location")
            </div>



            <button type="submit" class="btn btn-primary">Update</button>
        </center>*@

    @Html.AntiForgeryToken()

    <center>
        <div class="form-group">
            <span>DeptNo</span>
            @*<input type="text" class="form-control" id="DeptNo" name="DeptNo" value=@Model.DeptNo>*@
            @Html.TextBox("DeptNo")
        </div>

        <div class="form-group">
            <span>DeptName</span>
            @*<input type="text" class="form-control" id="DeptName" name="DeptName" value=@Model.DeptName>*@
            @Html.TextBox("DeptName")
        </div>

        <div class="form-group">
            <span>Location</span>
            @* <input type="text" class="form-control" id="Location" name="Location" value=@Model.Location> *@
            @Html.TextBox("Location")
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </center>

</form>
