﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListDept</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <a href="/Dept/Create" style="margin-left:20px; margin-top:20px" class="btn btn-primary">Create New Record </a>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>DeptNo</th>
                    <th>DeptName</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var department in Model)
                {
                    <tr>
                        <td>@department.DeptNo</td>
                        <td>@department.DeptName</td>
                        <td>@department.Location</td>
                        <td><a href="/Dept/Update/@department.DeptNo" class="btn btn-warning">Upadte</a></td>
                        <td><a href="/Dept/Delete/@department.DeptNo" class="btn btn-danger">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
