﻿
@{
     ViewBag.UserName = User.Identity.Name;
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/Master.cshtml";
}

<br />
<br />
<br />

<h1>
    This is all about!
</h1>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
