﻿
@{
    ViewBag.UserName = User.Identity.Name;
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/Master.cshtml";
}


<form action="/Home/Contact" method="POST" role="form">
    <center>
        <legend>Contact us!</legend>


        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" style="width:200px" class="form-control" name="name" placeholder="walter">
        </div>
        <br>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" style="width:200px" class="form-control" name="email" placeholder="walter@white.com">
        </div>
        <br>
        <div class="form-group">
            <label for="query">Query</label>
            <br />
            <textarea id="query" name="query">

        </textarea>
        </div>
        <br />

        <button type="submit" class="btn btn-primary">Submit</button>
    </center>
</form>




