﻿@{
    ViewBag.UserName = User.Identity.Name;
    ViewBag.Title = "Create a New Record";
    Layout = "~/Views/Shared/Master.cshtml";
}


<form action="/Home/Create" method="POST" class="form-inline" role="form">

    <br />
    <br />
    <br />
    <br />
    <br />

    <center>
        <div class="form-group">
            <span>No</span>
            <input type="text" class="form-control" id="No" name="No">
        </div>

        <div class="form-group">
            <span>Name</span>
            <input type="text" class="form-control" id="Name" name="Name">
        </div>

        <div class="form-group">
            <span>Address</span>
            <input type="text" class="form-control" id="Address" name="Address">
        </div>



        <button type="submit" class="btn btn-primary">Create Record</button>
        <br/>
        <div class="alert alert-danger" id="errorDiv" style="display: none;">
            This number is already taken!
        </div>
    </center>
</form>


<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function(){
        $("#No").change(function(){
            var noToSearch =  parseInt($(this).val());

            $.ajax({
                url: "/Home/IsNoTaken/" + noToSearch,
                type: "GET",
                contentType: "application/json",
                success: function (result){
                    debugger;
                    if(result == true) //No is taken already
                    {
                        $("#errorDiv").css({"display": "block"});
                    }
                    else               //No is available
                    {
                        $("#errorDiv").css({"display": "none"});
                    }
                },
                error: function (result){
                    debugger;
                    alert("Some thing is wrong!")
                }
            });

        });
    })
</script>