﻿
@{
    ViewBag.UserName = User.Identity.Name;
    ViewBag.Title = "Edit Record";
    Layout = "~/Views/Shared/Master.cshtml";
}


    <form action="/Home/AfterEdit" method="POST" class="form-inline" role="form">

        <br />
        <br />
        <br />
        <br />
        <br />
        @Html.AntiForgeryToken()

        <center>
            <div class="form-group">
                <span>No</span>
                @*<input type="text" class="form-control" id="No" name="No" value=@Model.No>*@
                @Html.TextBox("No")
            </div>

            <div class="form-group">
                <span>Name</span>
                @*<input type="text" class="form-control" id="Name" name="Name" value=@Model.Name>*@
                @Html.TextBox("Name")
            </div>

            <div class="form-group">
                <span>Address</span>
                @* <input type="text" class="form-control" id="Address" name="Address" value=@Model.Address> *@
                @Html.TextBox("Address")
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </center>
    </form>
