﻿
@{
    ViewBag.UserName = User.Identity.Name;
    ViewBag.Title = "Welcome Home";
    Layout = "~/Views/Shared/Master.cshtml";
}
    
    <a href="/Home/Create" style="margin-left:20px; margin-top:20px" class="btn btn-primary">Create New Record </a>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var emp in Model)
                {
                    <tr>
                        <td>@emp.No</td>
                        <td>@emp.Name</td>
                        <td>@emp.Address</td>
                        <td><a href="/Home/Edit/@emp.No?FName=@emp.Name&ECity=@emp.Address" class="btn btn-warning">Edit</a></td>
                        <td><a href="/Home/Delete/@emp.No" class="btn btn-danger">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div >
       
        <div id="showAd" style="background-color: tomato;height:50px; width:100%; text-align: center;">
            <h1><a target="_blank" href="http://127.0.0.1:5500/FreeMoney.html">FREE MONEY ! FREE MONEY ! FREE MONEY!</a></h1>
        </div>

         <script>
          
             window.setInterval(()=>{
                 debugger;
                var ad = document.getElementById("showAd");

                 if(ad.style.backgroundColor == "tomato")
                 {
                    ad.style.backgroundColor = "burlywood";
                 }
                 else
                 {
                    ad.style.backgroundColor = "tomato";
                 }
             }, 200);
        </script>
    </div>
