﻿
@{
      ViewBag.UserName = User.Identity.Name;
    ViewBag.Title = "Error Page";
    Layout = "~/Views/Shared/Master.cshtml";
}

    <div class="alert alert-success">
        <h1>Something is not right here.. Please try Again.</h1>
        <h6>To go Home <a href="/Home/Index">Click Here</a> </h6>
    </div>
    <div class="alert alert-danger">
        <h5>Technical Details</h5>
        <p> @Model.Exception.Message </p>
        <p> @Model.Exception.StackTrace </p>
        @*<p> @Model.Message </p>*@
    </div>
