﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="alert alert-success">
        @if (@ViewBag.UserName != "")
        {
            <h3>Welcome @ViewBag.UserName</h3>
            <a href="/Login/SignOut" class="btn btn-primary">LogOut</a>
        }
        else
        {
            <h3>Welcome User</h3>
            <a href="/Login/SignIn" class="btn btn-primary">Login</a>
        }
    </div>

    <br />
        @RenderBody()
    <br />
    <div class="alert alert-info text-center">
        copyright sunbeaminfo.com
        <br>
        <a href="/Home/Contact">Contact Us!</a>
    </div>
    <br />
</body>
</html>
