﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.js"></script>

    <title>SignIn</title>

</head>
<body>
    <form action="/User/SignIn" method="POST" class="form-inline" role="form">
        <center>
            <br /><br /><br /><br /><br /><br /><br />
            <div class="form-group">
                <label class="sr-only" for="Email">Email</label>
                <input type="Email"
                       class="form-control"
                       id="Email"
                       name="Email"
                       placeholder="Email Id" />
            </div>

            <div class="form-group">
                <label class="sr-only" for="Password">Password</label>
                <input type="password"
                       class="form-control"
                       id="Passcode"
                       name="Passcode" />
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
            <div class="alert alert-danger text-center">
                @ViewBag.ErrorMessage
            </div>
        </center>
    </form>
</body>
</html>
