﻿
@{
    Layout = null;
 }

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Index</title>

</head>

    @*<div class="alert alert-success">
        <h3>Welcome @ViewBag.Email</h3>
        <a href="/Dashboard/Index" class="btn btn-primary">LogOut</a>
        <div class="container" style="position:fixed; left:900px; top:80px;">
            <div class="dropdown" style="position:relative">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="/Employee/ListEmployee">Employee</a></li>
                    <li><a tabindex="-1" href="/Dept/ListDept">Depatrment</a></li>
                </ul>
            </div>
        </div>
        </div>*@
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <!--Menu Start Here-->
            <ul class="nav navbar-nav">

                <li class="active"><a href="#">Attendance Summary</a></li>
                <li class="active"><a href="#">View Profile</a></li>
                <li class="active"><a href="#">Public Holiday</a></li>
                <li class="active"><a href="#">Manual Punch Entries</a></li>
                <li class="active"><a href="#">Monthly attendance</a></li>
                <li class="active"><a href="#">Change Password</a></li>
            </ul>
            <!--Menu End Here-->
            <!--Right Aligned Menu Start-->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/User/SignOut"><font color="#fff">SignOut</font></a></li>
            </ul>
            <!--Right Aligned Menu End-->
        </div>
    </nav>
    <div class="alert alert-success">
       @*<h3>Welcome @ViewBag.Email</h3>*@
        <h3>Welcome @Model.Name</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>EmpNo</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Passcode</th>
                        <th>Salary</th>
                        <th>Commision</th>
                        <th>Designation</th>
                        <th>HireDate</th>
                        <th>Mobileno</th>
                        <th>DeptNo</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td scope="row">@Model.EmpNo</td>
                        <td>@Model.Name</td>
                        <td>@Model.Email</td>
                        <td>@Model.Passcode</td>
                        <td>@Model.Salary</td>
                        <td>@Model.Commision</td>
                        <td>@Model.Designation</td>
                        <td>@Model.HireDate</td>
                        <td>@Model.Mobileno</td>
                        <td>@Model.DeptNo</td>

                </tbody>
            </table>
        </div>
</body>
</html>
