﻿@{
    ViewBag.Email = User.Identity.Name;
    ViewBag.Title = "Create Employee";
    Layout = "~/Views/Shared/Master.cshtml";
}


    @*<form action="/Home/AfterCreate" method="POST" class="form-inline" role="form">*@
    <form action="/Employee/Create" method="POST" class="form-inline" role="form">

        <br />
        <br />
        <br />
        <br />
        <br />
        @Html.AntiForgeryToken()
        <center>
            <div class="form-group">
                <span>EmpNo</span>
                <input type="text" class="form-control" id="EmpNo" name="EmpNo">
            </div>

            <div class="form-group">
                <span>Name</span>
                <input type="text" class="form-control" id="Name" name="Name">
            </div>

            <div class="form-group">
                <span>Email</span>
                <input type="text" class="form-control" id="Email" name="Email">
            </div>

            <div class="form-group">
                <span>Passcode</span>
                <input type="text" class="form-control" id="Passcode" name="Passcode">
            </div>

            <div class="form-group">
                <span>Salary</span>
                <input type="text" class="form-control" id="Salary" name="Salary">
            </div>

            <div class="form-group">
                <span>commistion</span>
                <input type="text" class="form-control" id="commistion" name="commistion">
            </div>

            <div class="form-group">
                <span>Designation</span>
                <input type="text" class="form-control" id="Designation" name="Designation">
            </div>

            <div class="form-group">
                <span>HireDate</span>
                <input type="text" class="form-control" id="HireDate" name="HireDate">
            </div>

            <div class="form-group">
                <span>Mobileno</span>
                <input type="text" class="form-control" id="Mobileno" name="Mobileno">
            </div>

            <div class="form-group">
                <span>DeptNo</span>
                <input type="text" class="form-control" id="DeptNo" name="DeptNo">
            </div>
            <br />
            <br />
            <br />
            <br />

            @*<div class="form-group">
                    <label for="query">Address</label>
                    <br />
                    <textarea id="query" name="query">

                </textarea>
                </div>*@
            <br />
            <br />
            <br />
            <button type="submit" class="btn btn-primary">Create Employee</button>


            <div class="alert alert-danger" id="errorDiv" style="display: none;">
                This Email is already taken!
            </div>

        </center>
    </form>



    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#Email").change(function () {
                var noToSearch = ($(this).val());

                $.ajax({
                    url: "/Employee/IsEmailTaken?id=" + noToSearch,
                    type: "GET",
                    contentType: "application/json",
                    success: function (result) {
                        debugger;
                        if (result == true) {
                            $("#errorDiv").css({ "display": "block" });
                        }
                        else {
                            $("#errorDiv").css({ "display": "none" });
                        }
                    },
                    error: function (result) {
                        debugger;
                        alert("Some thing is wrong!")
                    }
                });

            });
        })
    </script>
