﻿@model Assignment_6._3.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Employee</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EmpNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmpNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
       
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Passcode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Passcode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Salary)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Salary)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Commision)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Commision)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Designation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Designation)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HireDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HireDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Mobileno)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Mobileno)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DeptNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DeptNo)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
