﻿
@{
    ViewBag.Email = User.Identity.Name;
    ViewBag.Title = "List Of Employee";
    Layout = "~/Views/Shared/Master2.cshtml";
}

<a href="/Employee/Create" style="margin-left:20px; margin-top:20px" class="btn btn-primary">Create New Record </a>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>EmpNo</th>
                <th>Name</th>
                <th>Email</th>
                <th>Passcode</th>
                <th>Salary</th>
                <th>Commision</th>
                <th>Designation</th>
                <th>HireDate</th>
                <th>Mobileno</th>
                <th>DeptNo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.EmpNo</td>
                    <td>@employee.Name</td>
                    <td>@employee.Email</td>
                    <td>@employee.Passcode</td>
                    <td>@employee.Salary</td>
                    <td>@employee.Commision</td>
                    <td>@employee.Designation</td>
                    <td>@employee.HireDate</td>
                    <td>@employee.Mobileno</td>
                    <td>@employee.DeptNo</td>


                    <td><a href="/Employee/Update/@employee.EmpNo" class="btn btn-warning">Upadte</a></td>
                    <td><a href="/Employee/Delete/@employee.EmpNo" class="btn btn-danger">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>

</div>

<br />


<script>

    window.setInterval(() => {
        debugger;
        var ad = document.getElementById("showAd");

        if (ad.style.backgroundColor == "tomato") {
            ad.style.backgroundColor = "burlywood";
        }
        else {
            ad.style.backgroundColor = "tomato";
        }
    }, 200);
</script>

