﻿
@{
    ViewBag.Email = User.Identity.Name;
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/Master.cshtml";
}

<head>

    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Index</title>

</head>

    <div class="container" style="position:fixed; left:900px; top:80px;">
        <div class="dropdown" style="position:relative">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                Dropdown
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a tabindex="-1" href="/Employee/ListEmployee">Employee</a></li>
                <li><a tabindex="-1" href="/Dept/ListDept">Depatrment</a></li>
            </ul>
        </div>
    </div>

@*<nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <ul class="nav navbar-nav">

                <li class="active"><a href="#">Attendance Summary</a></li>
                <li class="active"><a href="#">View Profile</a></li>
                <li class="active"><a href="#">Public Holiday</a></li>
                <li class="active"><a href="#">Manual Punch Entries</a></li>
                <li class="active"><a href="#">Monthly attendance</a></li>
                <li class="active"><a href="#">Change Password</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/User/SignOut"><font color="#fff">SignOut</font></a></li>
            </ul>

        </div>
    </nav>*@

