﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width" />
   
    <title>SignIn</title>

</head>
<body>


    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <ul class="nav navbar-nav navbar-right">
             
            </ul>
            </div>
     </nav>

            <form action="/User/SignIn" method="POST" class="form-inline" role="form">





                <center>
                    <br /><br /><br /><br /><br /><br /><br />
                    <div class="form-group">
                        <label class="sr-only" for="Email">Email</label>
                        <input type="Email"
                               class="form-control"
                               id="Email"
                               name="Email"
                               placeholder="Email Id" />
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="Password">Password</label>
                        <input type="password"
                               class="form-control"
                               id="Passcode"
                               name="Passcode" />
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    
                    <div class="alert alert-danger text-center">
                        @ViewBag.ErrorMessage
                    </div>
                </center>

            </form>

            <br />
            <br />
            <div class="alert alert-info text-center">
                copyright sunbeaminfo.com
            </div>

</body>
</html>
